
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://kit.fontawesome.com/39cd6f5dff.js" crossorigin="anonymous"></script>
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    </head>
    <body>
        KAISA LAGA MERA MAZAK&nbsp <i style="color:#ff9900; background:black; text-size:20px; border-radius:50%;"class="fa-solid fa-face-grin-squint-tears"></i><br><br>
        <a href='/payment/{{id}}/0' class='btn btn-info'>BACK</a>
        
        <script src="" async defer></script>
    </body>
</html>